<style>
  h1, h3 {
    text-align: center;
  }
</style>


<h1> 
  <% if @result.is_a?(Integer)%>
   Counter value: <%= @result %>
  <% else %>
    <%= @result %><%=link_to("Counter health", health_path) %> 
  <%end %>
</h1><br />
<h3><%= link_to("Back to Main page", menu_path, class: "btn btn-lg btn-primary")%></h3>