<style>
  h1, h3, h4 {
    text-align: center;
  }
</style>


<h1>Rails page counter metrics</h1>
<h3>Health status: <%= @health %><h3><br />
<h4><%= link_to("Back to Counter Menu", {:action=> 'menu'})%></h5>