<style>
  h1, h3, h4 {
    text-align: center;
  }
</style>


<h1>Rails page counter increment</h1>
<h3>Counter value: <%= @number %><h3><br />
<h4><%= link_to("Back to Menu", {:action=> 'menu'})%></h5>