<div class="center jumbotron">
<style>
  h1, h3 {
    text-align: center;
    font-family: monaco;
  }
</style>

<h1>Welcome to Rails Pagecounter</h1>
<h3><%=link_to image_tag("counter.png", alt: "Counter") %></h3>
</div>