<style>
  h1, h2, h3 {
    text-align: center;
  }

  h2 {
  color: red;
  font-family: monaco;
  }
</style>

<h1>Counter Menu</h1>
<h3>Counter current value: <%= @number %></h3><br />
<h3><%= link_to("Increment Counter", {:action=> 'incr'})%></h3><br />
<h3><%= link_to("Decrement Counter", {:action=> 'decr'})%></h3><br />
<h3><%= link_to("Reset Counter", {:action=> 'reset'})%></h3><br />

<h2>Boys don't cry!</h2>
