<style>
  h1, h3, h4 {
    text-align: center;
  }
</style>


<h1>Rails page counter metrics</h1>
<h3>Increment counter has been used: <%= @incr_number %><h3><br />
<h3>Decrement counter has been used: <%= @decr_number %><h3><br />
<h3>Reset counter has been used: <%= @reset_number %><h3><br />
  <h3><br />
<h4><%= link_to("Back to Counter Menu", {:action=> 'menu'})%></h5>