<style>
  h1, h3, h4 {
    text-align: center;
  }
</style>


<h1>Increment counter has been used: <%= @incr_number %></h1><br />
<h1>Decrement counter has been used: <%= @decr_number %></h1><br />
<h1>Reset counter has been used: <%= @reset_number %></h1><br />
<h1><br />
<h3><%= link_to("Back to Main page", menu_path, class: "btn btn-lg btn-primary")%></h3>